<div class="principal-container">
  <div class="left-container">
    <!-- <div class="escribiendo; h11" *ngFor="let phrase of phrases"> {{phrase.text}}
      <span > 
      </span>

    </div> -->
    <!-- [colspan]="phrase.cols" -->
    <!-- [rowspan]="tile.rows"
    [style.background]="tile.color"> -->


    <div class="escribiendo">
      <h1 class="h11">{{text1}}</h1>
    </div>
    <div class="escribiendo">
      <h1 class="h11">{{text2}}</h1>
    </div>
    <div class="escribiendo">
      <h1 class="h13">{{text3}}</h1>
    </div>
    <div class="escribiendo">
      <h1 class="h11">{{text4}}</h1>
    </div>
    <!-- <div  class="escribiendo">
      <h1 class="h11" >{{text5}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h13" >{{text6}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h13" >{{text7}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h12" >{{text8}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h11" >{{text9}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h11" >{{text10}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h13" >{{text11}}</h1>
    </div>
    <div  class="escribiendo">
      <h1 class="h12" >{{text12}}</h1>
    </div> -->
    <div class="escribiendo">
      <h1 class="h12">{{text13}}</h1>
    </div>

    <!-- <div class="escribiendo">
      <h1 class="h12" ngFor="let secondPhrase od secondPhrases">{{secondPhrases}}</h1>
    </div> -->
  </div>
  <div class="right-container">
    <div class="up-container">
      <span style="margin-bottom: 50px; margin-top: -30px;">Comencemos !</span>
      <div class="example-button-row">
        <button (click)="toLogin()" class="button-custom" mat-raised-button>Login</button>
      </div>
    </div>
    <div class="down-container">
      <h4>Powered by - Padel AI</h4>
    </div>
  </div>
</div>