<h2>{{title}}</h2>
<form class="example-form" [formGroup]="createFormGroup" >
  <mat-form-field class="example-full-width">
    <mat-label>Usuario creador del torneo</mat-label>
    <input matInput disabled value={{userOrganizerName}}>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre del Club</mat-label>
    <input matInput autocomplete="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cantidad de Canchas/Pistas</mat-label>
    <input matInput autocomplete="off" type="number" min="1" max="99" inputmode="numeric">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Dirección</mat-label>
    <input matInput placeholder="Av.San Martin 5600" autocomplete="off">
  </mat-form-field>

 <mat-form-field class="example-full-width">
  <mat-label>País</mat-label>
  <mat-select name="country" >
    <mat-option *ngFor="let country of dataCountries?.countries" [value]="country.id" >
      {{country.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Provincia/Estado</mat-label>
    <mat-select name="state" >
      <mat-option *ngFor="let state of dataStates?.states " [value]="state.id_country" >
        {{state.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>Ciudad</mat-label>
    <mat-select name="city">
      <mat-option *ngFor="let country of dataCountries?.countries" [value]="country.id">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Latitud</mat-label>
    <input matInput autocomplete="off" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Longitud</mat-label>
    <input matInput autocomplete="off" type="number">
  </mat-form-field>

</form>