h2 {
    color: #10a37f;
    height: 15px;
    margin-left: 10px;
    font-size: 17px;
    margin-bottom: 25px;
}

span {
    height: 15px;
    margin-left: 10px;
}

table {
    width: 100%;
    display: flex;
    align-items: center;
}

.mat-mdc-header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ng-container {
    display: flex;
}

.thead {
    display: flex;
}

.mat-expansion-panel-header {
    padding: 6px 24px;
}
.mat-expansion-panel {
    margin: 10px;
}
