F<section class="page_404">
  <div class="text-404">
    <h1>404</h1>
  </div>
  <div>
    <div class="four_zero_four_bg">
    </div>
    <div class="contant_box_404">
      <h2>Ups....</h2>
      <h2>estas perdido....</h2>
      <h3>la página que buscas no esta por aqui !</h3>
      <div class="example-button-row">
        <button (click)="goHome()" class="button-custom" mat-raised-button>volver</button>
      </div>
    </div>
  </div>
</section>













<!-- <section class="py-3 py-md-5 min-vh-90 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
            <span class="display-1 fw-bold">404</span>
            <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
          </h2>
          <h3 class="h2 mb-2">Oops! algo no va tan bien...</h3>
          <p class="mb-2">La pagina que buscas no es nuestra.</p>
          <p class="mb-5">Verifica la url que escribiste.</p>
          <a class="btn bsb-btn-5xl btn-primary rounded-pill px-5 fs-6 m-0" href="" role="button"
            style="margin-top: 35px;  background-color: #10a37f; border-color: #10a37f;  ">Home</a>
        </div>
      </div>
    </div>
  </div>
</section> -->