.body {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  align-items: center;
}

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

.ancho {
  width: 320px;
  --mdc-outlined-text-field-caret-color: #10a37f;
  --mdc-outlined-text-field-focus-outline-color: #10a37f;
  --mdc-outlined-text-field-error-focus-outline-color: #10a37f;
  --mdc-outlined-text-field-error-hover-outline-color: #10a37f;
  --mdc-outlined-text-field-error-outline-color: #10a37f;
}

.button {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;

  --mdc-protected-button-container-color: #10a37f;
  --mdc-protected-button-label-text-color: white
}

.ng-tns-c1205077789-1 {
  color: #10a37f;
}

.ng-tns-c1205077789-0 {
  color: #10a37f;
}

.mat-mdc-raised-button[disabled][disabled] {
  --mdc-protected-button-disabled-container-color: #abd8cd;
  --mdc-protected-button-disabled-label-text-color: white;
}

.spiner {
  margin: 0 auto;
}

a {
  font-weight: normal !important;
  color: #10a37f
}

.cdb6d95c9 .c922150f2 {
  text-align: left;
  color: dimgray
}

$white: #fff;
$button-cursor-pointer: rgb(241, 239, 239);

.google-btn {
  cursor: pointer;
  margin-top: 35px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  border: solid gray;
  border-width: 0.1px;

  // .google-icon-wrapper {
  //   margin-left: 10px;
  // }

  .google-icon {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 15px;
  }

  // .btn-text {
  //   margin-left: -20px;
  // }

  &:hover {
    background: $button-cursor-pointer;
  }

  .ancho {
    width: 320px;
    --mdc-outlined-text-field-caret-color: #10a37f;
    --mdc-outlined-text-field-focus-outline-color: #10a37f;
    --mdc-outlined-text-field-error-focus-outline-color: #10a37f;
    --mdc-outlined-text-field-error-hover-outline-color: #10a37f;
    --mdc-outlined-text-field-error-outline-color: #10a37f;
  }

  .mat-mdc-option {
    color: #10a37f;
  }

  .mat-mdc-option .mdc-list-item__primary-text {
    color: #10a37f
  }

  .mat-mdc-form-field-flex {
    color: #10a37f;
  }

  .body.mat-typography {
    color: #10a37f;
  }

  mat-form-field.mat-mdc-form-field.ancho.ng-tns-c1205077789-2.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-outline.mat-primary.ng-star-inserted.ng-touched.mat-focused.ng-dirty.ng-valid {
    color: #10a37f;
  }



}