<button mat-button [matMenuTriggerFor]="animals"><mat-icon style="font-size: 23px;">menu</mat-icon></button>
<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Jugadores</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates" disabled>Organizadores</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Perfil</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Torneos</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Clubes</button>
  <button mat-menu-item>Horarios</button>
  <button mat-menu-item>Notificaciones</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Tus Datos</button>
  <button mat-menu-item>Ranking</button>
  <button mat-menu-item>Tus Pagos</button>
  <button mat-menu-item>Tus Clubes</button>
  <button mat-menu-item>Compañeros</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Arena Padel</button>
  <button mat-menu-item>Central</button>
  <button mat-menu-item>Nivel Padel</button>
  <button mat-menu-item>Luck Padel</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>ArenaRC</button>
  <button mat-menu-item>LuckCat</button>
  <button mat-menu-item>CentralCba</button>
  <button mat-menu-item>OlgaRiutorth</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>
